
/* Audio page recorder */
.mainCard {
  display: flex;
  flex-direction: row;
  border: solid rgb(49, 49, 49) 0.2px;
  border-radius: 20px;
  box-shadow: 0px 0.1rem 0.3rem;
  background-color: #0f0f0f;
}
.mainCardLeft {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 20vh;
  padding: 10px;
  background-color: #0f0f0f;
  border-radius: 20px 0px 0px 20px;
  border-right: solid 2px ;

}
.mainCardLeft button {
  width: 100%;
}
.canvasRecorder {
  width: 250px;
  height: 65px;
  background-color: #0f0f0f;

}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
